
<p>Hello <%= @user.full_name %>,</p>

<p>Your resource submission, "<%= @resource.title %>", has received updated feedback:</p>

<blockquote>
  <%= @feedback %>
</blockquote>

<p>Please review the feedback and make the necessary changes.</p>

<p>Thank you!</p>