<h1>Resource Submission Rejected</h1>
<p>Dear <%= @user.full_name %>,</p>

<p>Unfortunately, your resource submission titled "<%= @resource.title %>" has been rejected.</p>

<% if @resource.feedback.present? %>
  <p>Feedback from the admin:</p>
  <p><%= @feedback %></p>
<% else %>
  <p>No feedback was given.</p>
<% end %>

<p>You are welcome to review the feedback and resubmit your proposal if desired.</p>
