<div class="relative bg-cover bg-no-repeat bg-center" style="height: calc(100vh - 80px); background-image: url('/home-bg.jpg');">
  <!-- Overlay for tint -->
  <div class="absolute inset-0 bg-black opacity-30 z-0"></div>

  <!-- Page Content -->
  <div class="relative z-20 text-white text-center">
    <h1 class="text-4xl font-bold">Welcome to My Page</h1>
  </div>
</div>
