<div class="max-w-screen-xl mx-auto p-4">
  <%= render 'shared/dashboard_nav' %>

  <!-- Search Form -->
  <%= render 'shared/search_form', 
      form_url: admin_users_path, 
      show_text_search: true,
      text_search_label: t('admin.users.index.search_users'),
      text_search_placeholder: t('admin.users.index.search_bar', default: 'Enter full name or email'),
      show_major_filter: false, 
      show_class_year_filter: false,
      show_log_action_filter: false, 
      show_per_page: true %>

  <!-- Users Table -->
  <%= render 'users_table', users: @users %>

</div>
